
body{
    background-color: beige;
}

.alert{
    display: inline;
    width: 40%;
    margin-left: 40px;
    margin-top: 12px;
    height: 39px;
    padding: 5px;
    text-align: center;
}

.confirm-password-label {

    text-align: right;
    clear: both;
    float:left;
    margin-right:15px;
}

.other-input-label{
    text-align: right;
    clear: both;
    float:left;
    margin-right:70px;
}

button{
    margin-left: 200px;
}

p{
    margin-left: 200px;
}