.add-icon{
    text-align: center;
    margin-top: 100px;
}

.table,
.table tr,
.table td {
    background-color: white !important;
}

td {
    word-wrap: break-word;
    min-width: 160px;
    max-width: 160px;
}

.navbar {
    width: 1366px;

}